* {
    margin: 0;
    padding: 0;
}
body{
    font-family:'Open Sans', sans-serif;
    background-color: #efefef;
}

/* Header CSS  */
.title-header {
    background-color: #43281c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}
.main-title{
    color: #fbf2c0;
    font-size: 1.5em;
}
.header-logo{
    height: 30px;
    position:relative;
    bottom: -1px;
    margin-right: 5px;
}

/* Body CSS */

.body-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    column-gap: 30px;
    width: 100%;

}
 .box{
     background-color:#eee1d5;
     border-radius: 20px;
     height:350px;
     box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
     margin: 20px;
 }

 .order-box h2{
     font-family: 'Open Sans', sans-serif;
     font-weight: 100;
     font-size: 1em;
     padding: 20px;
     padding-top: 40px;
     padding-bottom: 5px;
     color: #885a2d;
 }

.order-list{
    list-style-type: none;
    text-decoration: none;
}

.order-list{
    display: grid;
    grid-template-columns: 50px 4fr .5fr;
    padding: 20px;
    font-weight: bold;
    border-bottom: #DDB892 2px solid;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}
.mod-items{
    list-style-type: none;
    font-weight: lighter;
    width: 100px;
    color: #B08968;
    font-size: 15px;
    width: 200px;
    position: relative;
    left: 45px;
    margin: 5px;

}

.order-list:last-child{
    border-bottom: 0px;
}