* {
    margin: 0;
    padding: 0;
}
body{
    font-family:'Open Sans', sans-serif;
    background-color: #efefef;
}

/* Header CSS  */
.title-header {
    background-color: #43281c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}
.main-title{
    color: #fbf2c0;
    font-size: 1.5em;
}
.header-logo{
    height: 30px;
    position:relative;
    bottom: -1px;
    margin-right: 5px;
}
