* {
    margin: 0;
    padding: 0;
}
body{
    font-family:'Open Sans', sans-serif;
    background-color: #efefef;
}

/* Header CSS  */
.title-header {
    background-color: #43281c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}
.main-title{
    color: #fbf2c0;
    font-size: 1.5em;
}
.header-logo{
    height: 30px;
    position:relative;
    bottom: -1px;
    margin-right: 5px;
}

/* Body CSS */

.body-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    column-gap: 30px;
    width: 100%;

}
 .box{
     background-color:#eee1d5;
     border-radius: 10px;
     height:350px;
     box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
 }

 .order-box h2{
     font-family: 'Open Sans', sans-serif;
     font-weight: 100;
     font-size: 1em;
     padding: 20px;
     padding-top: 40px;
     padding-bottom: 5px;
     color: #885a2d;
 }

 .order-box{
     margin-left: 20px;
     margin-top: 20px;
 }
.order-list{
    list-style-type: none;
    text-decoration: none;
}

.order-list{
    display: grid;
    grid-template-columns: 50px 4fr .5fr;
    padding: 20px;
    font-weight: bold;
    border-bottom: #DDB892 2px solid;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}
.mod-items{
    list-style-type: none;
    font-weight: lighter;
    width: 100px;
    color: #B08968;
    font-size: 15px;
    width: 200px;
    position: relative;
    left: 45px;
    margin: 5px;

}

.order-list:last-child{
    border-bottom: 0px;
}

/* name box css */

.name-box{
    margin-top: 20px;
    margin-right: 20px;
    height: 150px;
}

.name-box h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 1em;
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 20px;
    color: #885a2d;
}

/* name card input */
.example-group {
    position: relative;
    display: inline-block;
}

.name-label-text {
    background-color: rgba(0,0,0,0);
    border-color: #885a2d;
    padding: 8px;
    border-radius: 30px;
    width: 80%;
    margin-left: 20px;
    margin-right: 10px;
}

.name-label{
    background-color: #eee1d5;
    color: #885a2d;
    font-size: 11px;
    position: absolute;
    left: 670px;
    top: 175px;
    padding: 0 2px;
}

/* payment box css */
.CCV-box{
    margin-top: 20px;
    margin-right: 20px;
    height: 180px;
}

.CCV-box h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 1em;
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 10px;
    color: #885a2d;
}

.payment-label-text {
    background-color: rgba(0,0,0,0);
    border-color: #885a2d;
    padding: 8px;
    border-radius: 30px;
    width: 80%;
    margin-left: 20px;
    margin-right: 10px;
}

.payment-label{
    background-color: #eee1d5;
    color: #885a2d;
    font-size: 11px;
    position: absolute;
    left: 670px;
    top: 336px;
    padding: 0 2px;
}

.CCV-label-text {
    background-color: rgba(0,0,0,0);
    border-color: #885a2d;
    padding: 8px;
    border-radius: 30px;
    width: 30%;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 10px;
}

.CCV-label{
    background-color: #eee1d5;
    color: #885a2d;
    font-size: 11px;
    position: absolute;
    left: 670px;
    top: 382px;
    padding: 0 2px;
}
/* total payment CSS */

.total-payment-box{
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    justify-content: center;
}

.total-box{
    width: 50%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.total-box td{
    padding: 15px;
}

.total-box .label{
    padding-left: 300px;
}

.example-group {
    position: relative;
    display: inline-block;
}

.final-input-label-box {
    background-color: #deb993;
    border: none;
    padding: 8px;
    border-radius: 20px;
    width: 90%;
    text-align: center;
    font-size: 16px;
    color: black;
    font-weight: bold;
    position: absolute;
    left: 50px;
}
